body {
  padding: 0;
  margin: 0;
}

#container {
  background-color: #212228;
  background-image: linear-gradient(#292a30 0.1em, transparent 0.1em),
    linear-gradient(90deg, #292a30 0.1em, transparent 0.1em);
  background-size: 4em 4em;
  height: 100vh;
}

#card {
  width: 400px;
  height: 400px;
  background-color: #afda9f;
  border-radius: 5px;
  cursor: grab;
  position: fixed;
  /* Changed to fixed for better dragging experience */
}

#card:active {
  cursor: grabbing;
}

#msg {
  position: relative;
  top: 40%;
  text-align: center;
  color: white;
  font-family: Arial, sans-serif;
}

#info {
  position: fixed;
  bottom: 10px;
  left: 10px;
  color: whitesmoke;
  font-family: Arial, sans-serif;
}
